/*  Colors: 
Primary: 2D2D34


*/
@media (max-width: 600px) {
  .cards {
    display: flex;
    justify-content: space-around;
  }

  .single-card-container {
    flex-direction: column;
  }
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 6px;
}

.single-card {
  flex: 1;
  margin: 20px 10px 10px 10px;
}
